@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url("https://use.typekit.net/imp2prc.css");
*{
  box-sizing: border-box;
}
body{
  margin:0;
  min-height: 100vh;
  display: flex;
}
.content{
  background-color: #EFEFEF;
  flex-grow: 1;
  min-height: 100vh;
  height: 100vh;
  overflow-y: auto;
}
.banner{
  background-image: url("banner.png");
  position: relative;
  min-width: 100%;
  background-position: center;
  background-size: cover;
  height: 7rem;
  box-shadow: inset 0 -20px 50px  black;
  display: flex;
}
.container-content{
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  flex-grow: 1;
}
h3.h3{
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  text-align: center;
  color: white;
  margin-top: 0;
}
h3.h3:hover{
  transition: 0.1s;
  background-color: #9e9b9b;
  color: #1c1c1c;
  height: 60px;
  margin-top: -17px;
  padding-top: 17px;
  cursor: default;
}
.sidebar{
  min-height: 100vh;
  max-height: 100%;
  position: sticky;
  overflow-y: visible;
  bottom: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  min-width: 245px;
  background-color: #262626;
  padding-top: 20px;
}
.sidebarlogo{
  max-width: 245px;
}
.header{
  height: 60px;
  background-color: #5c5b5b;
  padding-top: 17px;
}
.menu a{
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  padding: 15px 6px 15px 16px;
  text-decoration: none;
  font-size: 17px;
  color: white;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  margin: 0;
}
.menu a:hover {
  transition: 0.5s;
  Background-color: #1b1b1b;
  text-decoration: underline;
}
.fa-building-columns{
  padding-right: 12px;
  font-size: 39px;
}
.fa-books{
  padding-right: 12px;
  font-size: 39px;
}
.fa-users{
  padding-right: 12px;
  font-size: 32px;
}
.fa-megaphone{
  padding-right: 12px;
  font-size: 36px;
}
.fa-arrow-right-from-bracket{
  padding-right: 12px;
  font-size: 39px;
}
.mcm{
    margin-top: -5px;
    border-radius: 40px;
    background-color: white;
    width: 100%;
    height: 3rem;
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
p.p1{
    margin-left: 20px;
    margin-top: 20px;
    text-align: left;
    font-family: source-sans-pro, sans-serif;
    font-size: 22px;
    font-weight: 900;
    font-style: normal;
    color: #1a3473;
}
div.mcm1{
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  padding-top: 10px;
  background-color: white;
  width: 100%;
  height: 25rem;
  max-width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: auto;
  display: block;
}
hr.line{
  margin-left: 17px;
  margin-top: -20px;
  border-top: 2px solid red;
  width: 150px
}
small{
    font-family: source-sans-pro, sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.firstinput{
    width: 20%;
    height: 45px;
    margin-top: 24px;
    margin-left: 50px;
}
.firstinput input{
    border-width: 1px;
    height: 100%;
    padding: 14px;
    font-size: 15px;
    font-weight: 500px;
    border-radius: 6px;
}
input.firstbox{
    font-family: source-sans-pro, sans-serif;
    margin-top: 10px;
}

div.secondinput{
    width: 20%;
    height: 45px;
    margin-top: 75px;
    margin-left: 50px;
}
div.secondinput input{
    border-width: 1px;
    height: 100%;
    padding: 14px;
    font-size: 20px;
    font-weight: 500px;
    border-radius: 6px;
    font-family: source-sans-pro, sans-serif;
}
textarea{
    font-family: source-sans-pro, sans-serif;
    margin-top: 10px;
    width: 50rem;
    height: 7rem;
}
div.submit{
    padding-left: 50px;
    margin-top: 120px;
}
.submit input{
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    font-family: source-sans-pro, sans-serif;
    background-color: #1a3473;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
div.reset{
    padding-left: 250px;
    margin-top: -30px;
}
.reset input{
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    font-family: source-sans-pro, sans-serif;
    background-color: #1a3473;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.submit input:hover{
    background-color: red;
}
.reset input:hover{
    background-color: red;
}
