@font-face {
    font-family: NexaBold;
    src: url(Nexa\ Bold.otf);
}
@font-face {
    font-family: Comfortaa;
    src: url(Comfortaa-Regular.ttf);
}
@font-face {
    font-family: Poppins;
    src: url(Poppins-Regular.ttf);
}
@font-face {
    font-family: BebasNeue;
    src: url(BebasNeue-Regular.otf);
}
@font-face {
    font-family: Tiempos;
    src: url(TiemposHeadline-Regular.otf);
}
@font-face {
    font-family: Uni Sans;
    src: url(uni-sans.heavy-caps.otf);
}
:root{
    --bgColor: #CF192F;
    --textColor: white;
    --textColor1: black;
    --boxColor: white;
    --footColor: white;
    --linkColor: #0800BE;
    --linkHover: white;
}
body{
    background-color: var(--bgColor);
}
p{
    font-size: 130%;
}
header{
    padding: 40px;
    text-align: center;
    background-color:var(--boxColor);
    font-family: Comfortaa;
}
div.headerarea{
    font-family: NexaBold;
    font-size: 220%;
    padding: 10px;
    text-align: center;
    background-color: var(--boxColor);
}
nav a{
    word-wrap: normal;
    padding: 0px 20px;
    text-decoration: none;
    color: var(--textColor);
    background-color: var(--linkColor);
    text-align: justify;
}
nav a:hover{
    background-color: var(--linkHover);
    color: var(--textColor1);
}
.top-right{
    float: right;
}
nav{
    font-family: Poppins;
    text-transform: uppercase;
    overflow: hidden;
    padding: 10px;
    background-color: var(--linkColor);
}
 .sidesection1{
    margin-top: -1240px;
    float: right;
    background-color: var(--boxColor);
    height: 400px;
    width: 400px;
}
h2.h2side{
    margin-top: 20px;
    margin-left: 10px;
    font-family: Comfortaa;
    font-size: 20px;
}
.pic1:hover{
    opacity: 75%;
}
.pic1{
    border-radius: 500px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}
.aboutme{
    font-family: Tiempos;
    font-size: 15px;
    padding-top: 10px;
    margin: 15px;
    text-align: justify;
    text-indent: 30px;
}
.rightsection{
    margin-top: 10px;
    float: left;
    background-color: var(--boxColor);
    height: 720px;
    width: 920px;
}
.h2right{
    font-family: Uni Sans;
    padding-left: 20px;
    font-size: 200%;
}
.h2right:hover{
    opacity: 60%;
}
.mcmpic:hover{
    opacity: 75%;
}
.mcmpic{
    margin-top: 40px;
    border-radius: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 430px;
}
p.mcmp1{
    padding-left: 22px;
    color: var(--linkColor);
    font-family: Uni Sans;
    font-size: 100%;
    margin-top: -10px;
}
p.mcmabout{
    font-family: Tiempos;
    font-size: 20px;
    padding-top: 20px;
    margin: 20px;
    text-align: justify;
    text-indent: 30px;
}
.rightsection2{
    margin-top: 20px;
    display: inline-block;
    background-color: var(--boxColor);
    height: 500px;
    width: 920px;
}
.h2right2{
    font-family: Uni Sans;
    padding-left: 20px;
    font-size: 200%;
}
.h2right2:hover{
    opacity: 60%;
}
.ceapic:hover{
    opacity: 75%;
}
.ceapic{
    margin-top: 40px;
    border-radius: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 200px;
}
p.ceaabout{
    font-family: Tiempos;
    font-size: 20px;
    margin: 20px;
    text-align: justify;
    text-indent: 30px;
}
.sidesection2{
    margin-top: -830px;
    float: right;
    background-color: var(--boxColor);
    height: 830px;
    width: 400px;
}
h2.h2side2{
    margin-top: 20px;
    margin-left: 10px;
    font-family: Comfortaa;
    font-size: 20px;
}
.pic2:hover{
    opacity: 75%;
}
.pic2{
    border-radius: 500px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}
.pic3:hover{
    opacity: 75%;
}
.pic3{
    border-radius: 500px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    margin-top: 30px;
}
.pic4:hover{
    opacity: 75%;
}
.pic4{
    border-radius: 500px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 200px;
    height: 200px;
}
footer{
    background-color: var(--footColor);
    padding: 10px;
    margin-top: 10px;
}
.footer{
    text-align: center;
}
.footer2{
    text-align: center;
}
.footerimg{
    height: 70px;
    width: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.footerend{
    text-align: center;
    margin-top: 20px;
}
.darkmode{
    --bgColor: black;
    --textColor: white;
    --textColor1: white;
    --boxColor: #999999;
    --footColor: #999999;
    --linkColor: #0800BE;
    --linkHover: black;
}


